.index{
    .top{
        margin-top: 50px;
        .at-avatar{
            margin: 0 auto;
        }
    }
    .at-article__h1{
        margin-top: 15rpx;
    }
    .desc{
        text-align: center;
    }
    .at-article__p{
        margin-bottom: 20rpx;
    }
}